@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
}

.header {
    margin: 0 auto;
    background-color: #261901;

}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.header .container img {
    width: 100px;
    padding: 15px 0;
}

.header h1 {
    color: #FFF;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}



.search {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
}

.search-inputs {
    display: flex;
    padding-top: 25px;
    margin: 0 auto;
}

#search-btn {
    cursor: pointer;
}

main {
    background-color: #D9A443;
    padding-top: 20px;
}



menu nav ul li {
    padding: 5px 0;
    
}

menu nav ul li a {
    text-decoration: none;
    color:#000;

    
}

.acordes-menores {
    border-top: 1px solid black;
}

.container-acordes {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    
}

 .acorde {
    display: flex;
    flex-direction: column;
    
}

.acorde img {
    border-radius: 7px;
}

.acorde button {
    width: 40px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
}

.contact {
    background-color: #FF9D1D;
    border-top: 2px solid #261901;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: flex-start;
}

.container h2{
    margin: 0 auto;
    
}

.name-email-btn {
    display: flex;
    flex-direction: row;
}

.input-name-email {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.btn-summit {
    margin-top: 30px;
    padding-left: 1px;
}

.btn-summit #enviar {
    width: 55px;
    height: 77px;
    position: absolute;
    margin-left: 8px;
    cursor: pointer;
}

.input-msg {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #261901;
    height: 100px;
}


footer .footer-p{
    color: white;
    margin: 20px auto 10px auto;
}

.footer-icons p{
  
    color: #FFF;
    
}

footer .container {
    flex-direction: column;
}

.footer-icons {
    margin: 0 auto;   
    
}

.footer-icons span {
    color: #FFF;
    font-size: 30px;
    margin: 0 5px;
   
}

.footer-icons .fa-instagram:hover {
  border-radius: 30px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);  
}

.footer-icons .fa-linkedin:hover {
    color: #fff;
    background: #008cec;
    background: radial-gradient( #0085d2 0%, #4682b4 5%, #0000ff 45%,#006aa8 60%,#285AEB 90%);
     
  }

.footer-icons .fa-github:hover {
    color: #4078c0;

}

#btn-maiores, #btn-menores {
    display: none;
}



@media (max-width: 739px) {
	.container {
		flex-direction: column;
		max-width: 400px;
	}
    .header .container img {
        display: none;
    }

    .search-inputs {
        padding-bottom: 15px;
    }

    menu nav ul li {
        display: none;
        text-align: center;
    }

   

    .container-acordes {
        justify-content: center;
       
    }

    nav {
        text-align: center;
    }

    #btn-maiores, #btn-menores {
        display: inline;
        padding: 3px;
        border-radius: 5px;
        border: none;
        cursor: pointer; 
        
    }

    #nav.active #acordes-maiores li{
        display: flex;
        margin: 5px 0 0px 10px;
    }

    #nav.active2 #acordes-menores li{
        display: flex;
        margin: 5px 0 0px 10px;
    }
}